body {
    margin: 0;
    box-sizing: border-box;
}
.Result_BG {
    height: 120vh;
    width: 100vw;
    position: fixed;
    background-image: url(../image/result_BG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: -1;
}
.Result_empty_box {
    height: 10vh;
}
.Result_content_main {
    width: 50%;
    background-color: #EFEFEF;
    border-radius: 39px;
    margin: 0 auto;
    padding: 2em;
    padding-bottom: 5em;
    margin-bottom:-4em;
    box-sizing: border-box;
}
.result_title {
    margin: 0 auto;
    text-align: center;
}
.result_title .rectangle {
    height: 10px; /*temp*/
    width: 30%; /*tmep*/
    background-color: white;
    border-radius: 14px;
    margin: 0 auto;
}
.result_title .YourMajorIs {
    font-size: 2em;
    font-weight: bold;
    color: #7F7F7F;
    margin: 1em 0 0 0;
    font-family: "NanumSquareExtra";
}
.Result_content_sub {   
    width: 50%;
    background-color: #FFFFFF;
    border-radius: 41px;
    margin: 0 auto;
    padding: 2em 5em;
    box-sizing: border-box;
    box-shadow: 0px 0px 21px rgba(87, 87, 87, 0.25);
}
#recommand_title {
    font-size: 2em;
    font-weight: bolder;
    border-left: 5px solid rgb(88, 88, 88);
    padding-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    font-family: "GmarketSansTTFBold";
    color:#5B5B5B;
}
.lectureNames {
    display: flex;
    justify-content: space-between;
    font-family: "NanumSquareExtra";
    color: #ffffff;
}
.lectureName {
    font-size: 1.5em;
    padding: 0.5em 1.6em;
    border: none;
    border-radius: 113px;
    position: relative;
}
.lectureNameCount-1 {
    background-color: #FFD0D0;
}
.lectureNameCount-2 {
    background-color: #FFD9BD;
}
.lectureNameCount-3 {
    background-color: #CBE2C8;
}
.lectureNameCount-4 {
    background-color: #E2CDF3;
}
.lectureNameCount-5 {
    background-color: #C3D2F9;
}
.result_arrow {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 40px;
    background-image: url(../image/result_arrow.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: none
}

.lectureExplains {
    margin-top: 40px;
}

.lectureExplain {
    width: 100%;
    background-color: #F1F1F1;
    border: none;
    border-radius: 37px;
    font-size: 1.5em;
    padding: 1em;
    box-sizing: border-box;
    display: none;
}
.lectureNameCount-1:hover + .lectureExplains .lectureExplainCount-1 {
    display: block;
}
.certificationBox {
    font-size: 1.5em;
    padding: 1em;
    border: none;
    border-radius: 34px;
    position: relative;
    margin-bottom: 1.5em;

}
.certificationBoxCount-1 {
    background-color: #FFD7C5;
}
.certificationBoxCount-2 {
    background-color: #C5E0FF;
}
.certificationBoxCount-3 {
    background-color: #B5DDB7;
}
.certificationName {
    font-weight: bold;
    font-family: "GmarketSansTTFBold";
    color: #525252;
}
.certificationExplain{
    font-family:"NanumSquareOTFR";
    color: #525252;
    font-size: 0.9em;

}
.again_BT {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "NanumSquareBold";
    padding: 0.5em;
}
.again_BT a {
    box-sizing: border-box;
    border: 0.15em solid #97ACE1;
    border-radius: 11px;
    color: #97ACE1;
    padding: 0.6em 4em;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.2;
    text-decoration: none;
}
.again_BT a:hover {
    color: white;
    background-color: #97ACE1;
}


@font-face{
    font-family: "NanumSquareExtra";
    src: url("../font/NanumSquareOTF/NanumSquareOTF_0.otf");
}

@font-face{
    font-family: "NanumSquareBold";
    src: url("../font/NanumSquareOTF/NanumSquareOTF.otf");
}

@font-face{
    font-family:"NanumSquareOTFR";
    src: url("../font/NanumSquareOTF/NanumSquareOTF_acR.otf");
}

@font-face{
    font-family: "GmarketSansTTFMed";
    src: url("../font/GamrketSans/GmarketSansTTFMedium.ttf");
}

@font-face{
    font-family: "GmarketSansTTFBold";
    src: url("../font/GamrketSans/GmarketSansTTFBold.ttf");
}